<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/buy.css">
    <title>Compra exitosa</title>
</head>
<body>
    <main>
    <div>
        <img id="check" src="../img/16618386361553668503-128.png" alt="">
        <h1 id="title2">Felicidades tu compra fue exitosa</h1>
    </div>
    <br>
    <div class="button">
        
        <p id="inicio">Volver a inicio <a id="return" href="../index.html"><img id="volver" src="../img/icons8-volver-24.png"></a></p>
    </div>
    
 </main>
</body>
</html>