<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminos y condiciones</title>
    <link rel="stylesheet" href="../CSS/terms.css">
</head>
<body>
    <div class="box">
    <h1>Terminos y condiciones</h1>
    <br>
    <h2>Garantías</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis illum itaque fugit nobis a tempora, nisi illo delectus perferendis quisquam praesentium recusandae voluptatibus molestiae, dolores eaque obcaecati mollitia eveniet ullam?
    Iste totam nobis reprehenderit ipsa. Maxime non, optio, fugiat earum fuga aliquid nam necessitatibus quidem, possimus nobis autem laboriosam tempora! Iure maxime velit est corporis perspiciatis praesentium quibusdam ipsa hic!
    Eius maxime accusantium saepe autem obcaecati. Sed iste et illum, id, deleniti repellat dolores nisi accusantium cum nemo maxime ipsam tempore sunt sint omnis eos ab dolorum, amet natus laborum.
    Magnam itaque doloremque repudiandae amet. Quia error placeat, suscipit, unde magnam eius omnis dignissimos quisquam provident doloribus veritatis? Obcaecati placeat sunt quis, nam earum dolor autem adipisci laboriosam consequatur explicabo.
    Neque blanditiis officiis nemo eligendi tempore maiores labore unde? Excepturi obcaecati quae expedita debitis, provident deserunt optio sequi suscipit consequatur vero, porro veritatis eos eius fuga tempora voluptate, sint voluptas!
    Repellendus, dolores saepe asperiores a non numquam exercitationem distinctio error quod, enim voluptate vero vel sapiente iusto impedit aliquam fugiat eaque reiciendis esse modi, eum recusandae aliquid. Impedit, reiciendis veritatis.
    Ullam eligendi fuga eveniet labore accusamus officia ipsum modi a, maxime quibusdam veniam dicta incidunt cum, distinctio inventore ducimus ut vel quidem, aut ea? Et error tempore recusandae esse vero.</p>
    <br>
    <h2>Seguridad</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga repellendus adipisci iusto quia harum nobis esse doloribus hic porro voluptatibus itaque, nesciunt mollitia? Hic expedita optio, quod consequatur sit deleniti.
    Voluptatem possimus, provident consectetur praesentium, ratione soluta ab ipsa inventore quas saepe aliquam quae libero delectus adipisci, ipsum obcaecati alias. Tenetur necessitatibus atque praesentium quo delectus officiis quam illum? Nobis!
    Possimus quibusdam, et provident perspiciatis laborum sunt quisquam consectetur ea esse cum. Ducimus quis amet illum sunt repudiandae, dolorem animi eaque in maiores? Explicabo, rem. Consequuntur quod veniam illum corporis.
    Doloribus dolor voluptatibus perferendis necessitatibus dolorum similique blanditiis delectus saepe, cupiditate minima ratione quidem temporibus sequi hic ea culpa accusamus velit sapiente alias fuga expedita omnis iusto? Tenetur, autem dolor.
    Provident velit consequatur possimus, fugiat in maiores nobis mollitia sunt delectus aspernatur odit, recusandae quos debitis. Reprehenderit neque, qui eaque ipsa accusamus deleniti? Aperiam blanditiis maiores itaque magnam molestias est?
    Ipsam rem libero porro nihil quaerat vero voluptas tempora aspernatur dolore quae, asperiores repellendus delectus laboriosam sint quidem quia impedit amet optio eius dolorum. Quibusdam dolorem veniam in dolore velit.
    Dolorum nihil maxime id, praesentium voluptatem libero officia nam necessitatibus eligendi impedit facilis corrupti hic recusandae vitae modi asperiores dignissimos ex sunt tempora provident non explicabo? Repudiandae iure nesciunt officia?
    Sint, autem! Velit, iure hic incidunt quam nihil maxime praesentium ea fugiat nulla pariatur sequi dolorem temporibus! Explicabo fuga vel repudiandae quae, ipsum, omnis error commodi impedit tenetur et officia!
    Tempora porro iure, optio magni corrupti enim sapiente corporis dolores ex suscipit cupiditate illo ad eum voluptatem inventore aliquam vero nam libero culpa nobis quis doloremque quam autem facilis! Nemo.
    Adipisci cupiditate minima ipsam, placeat cum facere rerum nihil nemo reiciendis rem magnam iure perferendis eligendi deserunt, possimus nobis ipsum incidunt dolor repudiandae quam, mollitia illum? Iusto totam fugiat quam?</p>
    <br>
    <h2>Licencias</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla illo repellendus suscipit tempore. Possimus incidunt, a adipisci animi qui veniam, tempore vel officiis, magnam odio nihil soluta provident ipsum fugiat.
    Laudantium tenetur neque nihil, quas modi reprehenderit dolor, alias, expedita dignissimos placeat sapiente perferendis pariatur. Enim, delectus earum in quae consectetur ex hic eos molestias, possimus veritatis magnam dolorem et.
    Veniam maiores optio eveniet aut consequatur numquam reprehenderit odio perspiciatis. Voluptate eius velit, harum expedita iure maxime beatae aperiam nulla corrupti qui, accusantium eos eaque, hic alias in vel aliquid!
    Impedit ab dolorem perferendis voluptatem alias recusandae quasi asperiores ratione aut ullam, earum quod voluptatibus dolores nisi assumenda mollitia consequatur aperiam similique atque exercitationem necessitatibus corrupti minus nihil. Laborum, deleniti.
    Corrupti possimus mollitia earum perferendis laudantium distinctio aspernatur sunt a dolorum veniam quisquam atque tempore perspiciatis, aut dignissimos. Aspernatur necessitatibus corrupti placeat cum nemo, dicta excepturi expedita earum ab dolor.</p>
    <br>
    <h2>Privacidad</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus nostrum perspiciatis distinctio, magni earum maxime, id, cum veritatis delectus voluptatem iusto sapiente iure alias officia modi. Perferendis, voluptates at. Aliquam?
    Nemo perspiciatis, delectus aperiam magnam facere nam magni at dolorum labore ea, illo eveniet quis velit reiciendis voluptates non doloremque maiores sunt placeat! Veritatis accusantium sed veniam. Fugit, repellat reiciendis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quia veritatis porro, quibusdam ducimus similique quas dolores, error sapiente, accusamus aut animi suscipit. Repellendus, officia aspernatur reiciendis officiis accusantium eum.
    Soluta, laborum vero placeat perspiciatis alias quia distinctio cupiditate quam beatae autem adipisci pariatur, illum laudantium esse, fugit atque facilis dolores dicta molestiae vel enim ullam explicabo maiores ratione? Eaque.
    Excepturi reiciendis blanditiis, ex ad aliquam, provident cumque reprehenderit, voluptates ipsum adipisci natus sed exercitationem voluptatem. Libero, ullam maxime. Natus mollitia sequi ducimus eligendi? Ratione repellat alias possimus asperiores tenetur.
    Quae at et praesentium deleniti natus, tempore eum quo repellat commodi aperiam inventore quibusdam voluptate doloremque, fugit autem a distinctio incidunt, provident est laboriosam! Unde illo voluptas explicabo facilis amet.
    Officiis quas magnam corporis culpa similique, fugiat aut, animi cumque voluptatibus temporibus non mollitia quasi, praesentium nemo sit quidem deserunt totam dignissimos voluptatem! Iste earum illo maxime ut unde modi.
    Tenetur placeat unde voluptates esse. Sunt non cumque impedit possimus dolorum voluptas libero quo unde illo, accusantium expedita, aliquam odio vero necessitatibus, labore maiores eum enim adipisci mollitia perferendis repellendus?</p>
    <br>
    <button id="return" type="button" onclick="location.href='../index.html'"><b>Volver</b></button>    
    </div>
</body>
</html>